{% extends 'base/main.html'%} 
{% block style %}
body{
  padding-top: 10px !important
}
{%endblock%}
{% block content %}

<h1 class="header-bar">Register</h1>

<div class="card-body">
  <form method="post">
    {% csrf_token %}

    <div class="form-outline mb-4">
      <label class="form-label" for="email"
        >{{form.email.label}}*</label
      >
      <input type="email" id="email" name="email" class="form-control" />
      {% for error in form.email.errors %}
        <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="name"
        >{{form.name.label}}*</label
      >
      <input type="text" id="name" name="name" class="form-control" />
      {% for error in form.name.errors %}
        <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="age"
        >{{form.age.label}}</label
      >
      <input type="text" id="age" name="age" class="form-control" />
      {% for error in form.age.errors %}
        <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="city"
        >{{form.city.label}}</label
      >
      <input type="text" id="city" name="city" class="form-control" />
      {% for error in form.city.errors %}
        <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password1"
        >{{form.password1.label}}*</label
      >
      <input
        type="password"
        id="password1"
        name="password1"
        class="form-control"
      />
    </div>

    <!-- Confirm Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password2"
        >{{form.password2.label|title}}*</label>
      <input
        type="password"
        id="password2"
        name="password2"
        class="form-control"
      />
      {% for error in form.password2.errors %}
        <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>
    

    <input type="submit" name="submit" />
  </form>
  <p class="text-center mt-5">
    Already have an account? <a href="{% url 'base:login' %}">Login</a>
  </p>
</div>
{% endblock content %}
